.main {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "Hiragino Sans", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

.main_title {
  font-family: jaf-bernina-sans, Hiragino Kaku Gothic Pro, Meiryo, sans-serif;
}

.detail ul {
  padding-left: 0;
  margin-bottom: 50px;
}

.detail ul li {
  margin-bottom: 35px;
}

p {
  font-weight: 400;
  font-size: 13px;
  color: #8a8f9c;
}

.title {
  text-align: left;
  font-family: 游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic Medium,
    游ゴシック, Yu Gothic, Hiragino Kaku Gothic Pro, Meiryo, sans-serif;
}

.text {
  font-size: 35px;
  font-weight: 500;
}

.title span {
  font-size: 0.87vw;
  font-family: 游ゴシック体, YuGothic, 游ゴシック, Yu Gothic,
    Hiragino Kaku Gothic Pro, Meiryo, sans-serif;
  line-height: 1.66667;
  color: #949494;
}

.container {
  margin-top: 50px;
}

.first {
  margin-bottom: 50px;
}

.title {
  font-weight: 500;
  font-size: 1rem;
}

.name {
  margin-top: 20px;
}

.address {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .text {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }
}
